// combined lightbox and signup styles
.page .body .go-subscriptions-signup,
.go-local-subscriptions-signup-lightbox #cboxContent {
	a {
		text-decoration: none;
	}

	header {
		@include subtext;
		color: #808080;
		margin-bottom: 1.6em;
	}

	li {
		list-style-type: none;
		position: relative;
	}

	.field-container.company,
	.field-container.title {
		input {
			width: 100%;
		}
	}

	p {
		clear: both;
		color: #b3b5b7;
		font-family: $serif;
		font-size: 14px;
		line-height: 25px;
		margin-bottom: 1.5rem;
		max-width: 100%;
		padding: 10px 15px;
		position: relative;
		width: 350px;


		strong {
			color: #999a9b;
			display: block;
			font-weight: 400;
			margin-bottom: 5px;

			&:before {
				color: #ff6b00;
				content: '*';
				font-size: 1.1em;
				margin-right: 5px;
			}
		}
	}

	form {
		margin-bottom: .75em;
		margin-right: 0;
		max-width: 100%;
		width: 350px;

		&#go-local-subscriptions-signup {
			background-color: #f5f5f0;
		}

		ul {
			margin: 0 0 1.25em;
			padding-top: 0;
			width: 100%;
		}

		li:before {
			display: none;
		}
	}

	.required {
		label {
			position: relative;

			&:before {
				color: #ff6b00;
				content: '*';
				font-size: 1.1em;
				left: -8px;
				position: absolute;
			}
		}
	}

	input {
		&:-webkit-input-placeholder,
		&:-moz-placeholder {
			color: #c9cacb;
		}
	}

	input[type=email] {
		&:-webkit-input-placeholder,
		&:-moz-placeholder {
			color: #939598;
		}
	}

	.button {
		margin-bottom: 0;
		margin-top: 1rem;
	}
}

// signup page only
.go-subscriptions-signup {
	.go-lock-message {
		color: #2a2e33;
		font-size: 1.4em;
	}

	header {
		margin-top: 0;
		max-width: 350px;
	}

	#form-wrapper {
		max-width: 350px;
	}

	#marketing-box {
		max-width: 350px;

		@include min-screen( 960px ) {
			float: left;
			margin-left: 2rem;
			max-width: 400px;
		}

		div {
			margin-left: calc(85px + .5rem);
		}

		h2 {
			font-weight: 300;

			strong {
				font-weight: 600;
			}
		}

		p {
			color: #2a2e33;
			font-size: 1em;
			line-height: 1.375em;
			margin: 0;
			padding: 0;

		}

		svg {
			float: left;
			height: 80px;
			margin-top: -9px;
			width: 85px;

			#Layer_1 {
				display: none;
			}
		}
	}

	.skip-to-login {
		display: none;
	}

	#email-domain-alert {
		display: none;
	}

	.bumpdown-arrow {
		left: 232px;
	}


	// slightly better centering of highlighted checkbox
	.go-radio:checked + span:before {
		top: -4px;
	}
	.go-radio:checked + span:after {
		top: 0;
		left: -15px;
	}

	.go-radio-title {
		color: #adafb1;
	}
}

.go-signup-error {
	background-color: #ffebe8;
	border-color: #c00;
	border-radius: $global-radius;
	border-style: solid;
	border-width: 1px;
	margin: 0 0 16px 8px;
	padding: 12px;
}
